* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .row {  
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
  }

  .side {
    flex: 30%;
    background-color: #ebebeb;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
  }

  li,.main > table{
      color:white;
  }
  
  .main {
    flex: 70%;
    background-color: rgb(66, 66, 66);
    padding: 20px;
  }
  
  .img {
    background-color: rgb(145, 145, 145);
    padding: 5px;
    margin: auto;
  }
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
      padding-left: 0%;
      padding-right: 0%;
    }
    .side{
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
  
.text-color,h2{
    color: #096ad8;
}
tr{
    text-align: left;
}

@media screen and (max-width: 600px) {
  table{
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    display: block;
    font-size: .8em;
    text-align: left;
  }
}
